#glyph {
    position: relative;
    top: 10vh;
    /* left: 0; */
    text-align: center;
    border-color: white;
    font-size: 80px;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#glyph> span:hover{
    box-shadow: #c0392b 0 0 20px;
    cursor: pointer;
}

#glyph> span{
    color: white;
    font-size: 80px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 2%;
    padding:1.5%;
}
#btnOptions {
    position: absolute;
    top: 1vh;
    left: 1vh;
    cursor: pointer;
}

#btnOptions::before {
    content: '\2630';
    text-align: center;
    border: solid 2px #000;
    font-size: 3vh;
    padding: 0vh 1vh 0.6vh 1vh;
    border-radius: 4px;
}

/* zone des options */
#options {
    font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:25px;
    --bg-color: white;
    --fg-color:#212121 ;
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border:white solid 5px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#options > * {
    margin: 2vh;
    min-width: 20vw;
}

#options h2 {
    text-align: center;
}

#options label {
    margin: 0 1vh;
    display: inline;
    cursor: pointer;
}

#cbOptions:checked ~ #options {
    display: flex;
}

#cbOptions:checked ~ main {
    display: none;
}

#options .bouton {
    display: inline-block;
    color:#212121;
    border: solid 2px #212121;
    padding: 1vh 2vh;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: auto;
    background-color: white;
    opacity: 0.7;
   align-content: center;

}

#options .bouton:hover {
    opacity: 1;
}
input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #212121;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #c0392b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #212121;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #212121;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #F7F7F7;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #212121;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #212121;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #F7F7F7;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #c0392b;
}
input[type=range]:focus::-ms-fill-upper {
    background: #c0392b;
}

#close_menu{
    border:#212121 solid 2px;
    opacity: 0.7;

}
#close_menu:hover{
    background-color: white;
}