#glyph {
    position: relative;
    top: 5vh;
    text-align: center;
    margin: -25vh;
    font-size: 35vw;
    color: wheat;
}

#btnOptions {
    position: absolute;
    top: 1vh;
    left: 1vh;
    cursor: pointer;
}

#btnOptions::before {
    content: '\2630';
    text-align: center;
    border: solid 2px #000;
    font-size: 3vh;
    padding: 0vh 1vh 0.6vh 1vh;
    border-radius: 4px;
}

/* zone des options */
#options {
    --bg-color: #1e3250;
    --fg-color: white;
    position: fixed;
    overflow-y: scroll;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#options > * {
    margin: 2vh;
    min-width: 20vw;
}

#options h2 {
    text-align: center;
}

#options label {
    margin: 0 1vh;
    display: inline;
    cursor: pointer;
}

#cbOptions:checked ~ #options {
    display: flex;
}

#cbOptions:checked ~ main {
    display: none;
}

#options .bouton {
    display: inline-block;
    border: solid 1px white;
    padding: 1vh 2vh;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 5px white;
}

#options .bouton:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
}