/*
    Page log in
*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #212121 !important;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #c0392b;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #212121;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #212121 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #2A2628 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2A2628 !important;
}



.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #212121;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #212121 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #212121 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

/*
    Page Jeu
 */

/*
    Chat
 */
#chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: beige;
    padding: 10px;
}
#chat h2, #chat h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#chat h2 {
    top: -35px;
    left: -1px;
}
#chat h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#chat main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
#chat main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#chat main .mp {
    color: darkblue;
}
#chat main .moi {
    color: green;
}
#chat main .system {
    color: red;
}
#chat main img {
    max-width: 50%;
    vertical-align: text-top;
}

/** Pied de zone de chat */
#chat footer {
    position: absolute;
    bottom: 0;
    padding: 0px;
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#chat footer input {
    height: 22px;
    font-size: 15px;
}
#chat > footer input:first-child {
    width: calc(100% - 250px);
    font-size: 12px;
}
#chat > footer input:last-child {
    float: right;
}

#chat aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
}

/**
 * Style pour les émoticones
 */
.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}
.rire {
    background-position: -4px -4px;
}
.zzz {
    background-position: -28px -4px;
}
.love {
    background-position: -52px -4px;
}
.holala {
    background-position: -4px -28px;
}
.grrr {
    background-position: -28px -28px;
}
.triste {
    background-position: -52px -28px;
}
.sourire {
    background-position: -4px -52px;
}
.banane {
    background-position: -28px -52px;
}
.malade {
    background-position: -52px -52px;
}

#bcImage {
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}
#bcImage input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}
#bcImage #btnFermer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#bcImage #bcResults {
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}
#bcImage #bcResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
#bcResults img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}
