/*
    Page log in
*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #212121 !important;
}
.user_card {

    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #c0392b;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #212121;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {

    margin-top: 100px;
}
.login_btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 25px;
    margin-right:25px;
    background: #212121 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {

    background: #2A2628 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2A2628 !important;
}



.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #212121;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 90%;
    background: #212121 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {

    padding: 0 2rem;
}

.input-group-text {
    background: #212121 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {

    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

/*
    Page Jeu
 */

/*
    Chat
 */
#chat {
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 2px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height:100%;
    width: 20%;
    background-color: #c0392b;
    padding: 10px;
}
#chat h2, #chat h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#chat h2 {
    top: -35px;
    left: -1px;
}
#chat h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#chat main {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    scrollbar-darkshadow-color: #212121;
    scrollbar-base-color: #212121;
    position: relative;
    margin-top: 5%;
    height: 50%;
    width: 100%;
    background-color: #212121;
    color:white;
    overflow-y: scroll;
    line-height: 1.2;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    box-shadow: none;
    font-size: 25px;
    overflow-x: fragments;
}
#chat main p {
    text-align: right;
    background-color: #333333;
    border-color: white;
    border-width: 1px;
    border-style:solid;
    color: white;
    text-align: right;
    border-radius: 10px;
    line-height: 1;
    font-size: 20px;
    margin-top: 3px;
    padding: 2px;
    margin-bottom: 15px;
}
#chat main .mp {
    text-align: right;
    background-color: #333333;
    border-color: white;
    border-width: 1px;
    border-style:solid;
    color: aqua;
}
#chat main .moi {
    text-align: left;
    background-color: #333333;
    border-color: white;
    border-width: 1px;
    border-style:solid;
    color: gold;
}
#chat main .system {
    text-align: center;
    border-width: 0;
    background-color: #212121;
    color: red;
}
#chat main img {
    max-width: 50%;
    vertical-align: text-top;
}

/** Pied de zone de chat */
#chat footer {

    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: absolute;
    top:90%;
    padding: 0px;
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#chat footer input {
    height: auto;
    font-size: 30px;
}
#chat > footer input:first-child {

    box-shadow: none;
    border-color: white;
    position: relative;
    left:5%;
    top:-50px;
    width: 90%;
    font-size: 25px;
    background-color: #212121;
    color:white;
}
#chat > footer input:last-child {
    float: right;
}

#chat aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
}

/**
 * Style pour les émoticones
 */
.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}
.rire {
    background-position: -4px -4px;
}
.zzz {
    background-position: -28px -4px;
}
.love {
    background-position: -52px -4px;
}
.holala {
    background-position: -4px -28px;
}
.grrr {
    background-position: -28px -28px;
}
.triste {
    background-position: -52px -28px;
}
.sourire {
    background-position: -4px -52px;
}
.banane {
    background-position: -28px -52px;
}
.malade {
    background-position: -52px -52px;
}

#bcImage {
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}
#bcImage input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}
#bcImage #btnFermer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#bcImage #bcResults {
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}
#bcImage #bcResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
#bcResults img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}

#nameLogo{
    height: 250px;
    width: 250px;
    margin-left: 15%;
    border-radius: 50%;
    border: 2px solid white;
}

#btnEnvoyer, #btnImage{
    border-radius: 10px;
    position: relative;
    top:-40px;
    opacity: 0.7;
    background-color: #c0392b;
    color:white;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    box-shadow: none;
}
#btnImage:hover{
    opacity: 1;
}
#btnEnvoyer:hover{
    opacity: 1;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #212121;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c0392b;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #212121;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #212121;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

#listBloc{
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
    padding-top: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:white;
    font-size: 15px;
    position: absolute;
    top: 0%;
    left: 80%;
    height: 100%;
    width:20%;
    background-color: #c0392b;
    align-content: center;
}

#userList{
    padding-top: 10px;
    text-align: center;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    scrollbar-darkshadow-color: #212121;
    scrollbar-base-color: #212121;
    position: relative;
    margin-top: 5%;
    height: 50%;
    color:white;
    overflow-y: scroll;
    line-height: 1.2;
    box-shadow: none;
    font-size: 25px;
}
#TitleUserList{
    font-size: 28px;
    text-align: center;
}


#listButtons{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#btnQuitter,#btnInviter {
    margin-top: 15px;
    align-content: center;
    text-align: center;
    width:50%;
    margin-left: 25%;
    font-size: 30px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: #c0392b;
    color:white;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    box-shadow: none;
}
#btnQuitter{
    margin-top: 50px;
}
#btnInviter:hover{
    opacity: 1;
}
#btnQuitter:hover{
    opacity: 1;
}
#InvitationSender{
    box-shadow: none;
    border-color: white;
    position: relative;
    margin-left: 5%;
    margin-bottom: 10px;
    width: 90%;
    font-size: 25px;
    background-color: #212121;
    color:white;
}